/* CSS For CountUp button */

.button__holder {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button__holder:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.plus {
  position: relative;
  z-index: 1;
  width: 60px;
  height: 60px;
  color: #1a1a1a;
  background: #ed1c5b;
  border-radius: 50%;
  border: none;
  margin: 20px;
  }
.minus {
  position: relative;
  z-index: 1;
  width: 60px;
  height: 60px;
  color: #1a1a1a;
  background: deepskyblue;
  border-radius: 50%;
  border: none;
  margin: 20px;
}

.plus:after {
    content: "+";
    font-size: 2.5em;
    line-height: 1.1em;
    position: relative;
    top:13%;
}
.minus:after {
    content: "-";
    font-size: 2.5em;
    line-height: 1.1em;
    position: relative;
    top:13%;
}




